@page "/"
@inherits IndexBase
@using ECOMMERCE.Components.Product; 


<div class="container-fluid">
    <!-- Navigation Menu-->
    <div class="row" id="navMenu">
        <div class="col-12">
           <NavigationMenu></NavigationMenu>
        </div>
    </div>
    <div class="row" id="navMenu">
        <div class="col-3">
           <LeftSideBar></LeftSideBar>
        </div>
        <div class="col-6 h-100">
            <div class="row">
               <ProductList></ProductList>
            </div>
        </div>

        <div class="col-3">
            <RightSideBar></RightSideBar>
        </div>

    </div>

</div>
