@page "/"
@inherits IndexBase
@using ECOMMERCE.Components.Product; 


<div class="container-fluid">
    <!-- Navigation Menu-->
    <div class="row" id="navMenu">
        <div class="col-12">
           <NavMenu/>
        </div>
    </div>
    <div class="row" id="navMenu">
       
        <div class="col-6 h-100">
            <div class="row">
               <ProductList></ProductList>
            </div>
        </div>

        
    </div>

</div>
