

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                
                <div class="input-group p-1">
                    <input type="text" class="form-control d-inline btn-outline-success" placeholder="Search Product Name..." />
                </div>
               
                <!-- Dropdown Product Category-->
                <div class="btn-group">
                    
                    <button type="button" class="btn btn-success d-inline p-2">Product Category</button>
                    <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split d-inline" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Separated link</a></li>
                    </ul>
                    <!-- Dropdown Product Sub Category-->
                    <button type="button" class="btn btn-info d-inline p-2">Product Sub-Category</button>
                    <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split d-inline" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Separated link</a></li>
                    </ul>

                    <label for="customRange2" class="form-label text-info d-inline p-2">Price Range</label>
                    <input type="range" class="form-range d-inline" min="1" max="100000" id="customRange2">
                </div>
                <!-- Dropdown -->
              
               
            </div>
        </div>
    </div>
    
    
</div>


